<h3>Create a folder</h3>
<ul class="breadcrumbs">
  <li><a href="<%= memo_path %>">Folders</a></li>
  <li class="current"><a href="#">Create folder</a></li>
</ul>
<%= partial(:'model_errors', :locals => { m: @folder}) %>
<form action="<%= memo_folders_path %>" method="POST">
  <div class="row">
    <div class="small-12 columns">
      <label>Name</label>
      <input type="text" placeholder="Give me a name" name="name" value="<%= @folder.name %>">
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <input type="submit" value="Create" class="button pull-right">
    </div>
  </div>
</form>