<h3>Ryarc</h3>
<ul class="breadcrumbs">
  <li><a href="<%= memo_path %>">Folders</a></li>
  <li class="current"><a href="#"><%= @folder.name %></a></li>
  <li><a href="#"><i class="icon-plus"></i></a></li>
</ul>