<html>
<head>
  <title><%= @title %></title>
  <link href="/assets/css/app.css" rel="stylesheet">
  <script src="/assets/js/jquery-1.9.1.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>