
<div class="row">
  <div class="small-12 large-7 large-centered columns">
    <h3>Sign in</h3>
    <form action="<%= signin_path %>" method="POST">
      <div class="row">
        <div class="small-12 columns">
          <label>Password</label>
          <input type="password" name="password" placeholder="Don't you know?">
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <input type="submit" value="Sign in" class="button pull-right">
        </div>
      </div>
    </form>
  </div>
</div>