$primary-color: #2C3E50;
$notice-color: #2ba6cb;

$topbar-bg: #2C3E50;
$topbar-divider-border-bottom: solid 1px #fff !default;
$topbar-divider-border-top: solid 1px #fff !default;
$topbar-margin-bottom: 0;

$crumb-radius: 0;
$crumb-font-transform: none;
$crumb-font-size: emCalc(13);
$crumb-padding: emCalc(5, 10);