= partial(:'shared/model_errors', :locals => { m: note})
.row
  .columns.small-12
    %label Name
    %input{type: "text", name: "note[name]", placeholder: "Give me a name", value: note.name}
.row
  .columns.small-12
    %label Content
    %textarea.medium{name: "note[content]", placeholder: "Write some content...", value: note.content}
.row
  .columns.small-12
    %ul.button-group.pull-right
      %li
        %input.button{type: "submit", value: verb}
      %li
        %a.button.secondary{href: "#{memo_folders_path @folder.id}"} Cancel