%h3 Create note
%ul.breadcrumbs
  %li
    %a{href: "#{memo_path}"}Folders
  %li
    %a{href: "#{memo_folders_path @folder.id}"}= @folder.name
  %li.current
    %a{href: "#"}Create note
%form{action: "#{memo_notes_path @folder.id}", method: "POST"}
  = partial(:'memo/notes/fields', :locals => { note: @note, verb: 'Create' })